$blue: rgb(63, 159, 219);
$red: rgb(249, 104, 104);
$color-main: rgb(81, 81, 81);
$color-light: rgb(100, 100, 100);
$color-blue: $blue;
$font-lato: 'Lato', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;;
$font-raleway: 'Raleway', sans-serif;

@mixin tablet {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin large {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin background-slide($bg-color, $color, $rotation: -5deg, $index: -1) {
  position: relative;
  overflow: visible;
  color: $color;
  &:before {
    content: "";
    transform: rotate($rotation);
    display: block;
    position: absolute;
    z-index: $index;
    top: -5%;
    left: -20%;
    height: 110%;
    width: 140%;
    background-color: $bg-color;
  }
}

.container {
  max-width: 768px; 
  margin: 0 auto;
  width: 100%;
  padding: 0 1em;
  box-sizing: border-box;
}


.lato { font-family: $font-lato; }
.open-sans { font-family: $font-open-sans; }
.raleway { font-family: $font-raleway; }

.title-main {
  @extend .open-sans;
  font-size: 2em;
  font-weight: 400;
}

.title-secondary {
  @extend .raleway;
  font-size: 1.4em;
  font-weight: 100;
  font-style: italic;
  color: $color-light;
}
